.probica {
  background-color: @brand-pokusaj;
  margin-bottom: 25px;
}
  .video{
    video{
     margin:0 auto;
     width:100%;
    //  height: 867px;
     z-index: -100;
   transition: 1s opacity;
   position:relative;
 }
  //  @media (max-width: 1100px){
  //   margin:0 auto;
  //   video {
  //    width:100%;
  //    float:left;
  // }
  //  }
    }
.probahero{
  height: 125px;
  @media(max-width: 1024px){
  }
  .synergize{
    .field-label{
      text-align: center;
      font-weight: 900;
      color:#D6ECF5;
      font-family:arial,sans-serif;
      text-shadow:0 0 50px rebeccapurple;
      text-transform: uppercase;
    }
    .field-items {
      text-align: center;
    }
    img {
      display: inline-block;
      width:100px;
      border-radius:5%;
      border:2px solid #009900;
    }
  }
.countered{
  .field-label{
    text-align: center;
    font-weight: 900;
    color:#D6ECF5;
    font-family:arial,sans-serif;
    text-shadow:0 0 50px rebeccapurple;
    text-transform: uppercase;
  }
  .field-items {
    text-align: center;
  }
  img {
    display: inline-block;
    width:100px;
    border-radius:5%;
    border:2px solid #990000;
  }
}
  .field-item{
    width:100px;
    display: inline-block;
    margin-left: 5px;
  }
}
.test{
  width:456px;
  position:absolute;
  transform:translate(160px,-100px);
  z-index:10;
  color: @brand-primary;
  font-size: 18px;
  font-weight: 700;
  top:550px;
  h2{
    font-weight: 900;
    color:#D6ECF5;
    font-family:arial,sans-serif;
    text-shadow:0 0 50px rebeccapurple;
    text-transform: uppercase;
  }
  @media (max-width: 1100px){
    font-size:12px;
    width:700px;
    display: inline-block;
    position:static;
    margin-top:100px;
    margin-left:-130px;
  }
  @media (max-width: 500px){
    width: 250px;
    display: inline-block;
    position:static;
    margin-top: 100px;
    margin-right:-70px;
  }
  @media(max-width: 1000px){
    .drzac{
      display:inline-block;
      width:400px;
    }
    .herorole{
      display:inline-block;
      width:200px;
      vertical-align: bottom;
      .field{
        display: inline-block;
        width:200px;
      }
      .field-items{
            width:200px;
            margin-right: 0px;
            border-right: 0px;
      }
    }
  }
}
// .margin-auto{
//   margin:0 auto;
// }
.slider-news{
  border: 2px solid #3C75B9;
  transform:translateY(0px);
  transition-duration: 0.7s;
  padding: 15px;
  &:hover{
      border: 2px solid #e60073;
      transform:translateY(-5px);
      transition-property: all;
      transition-duration: 0.7s;

  }
}

.primary{
display: inline-block;
width:300px;
  h2{
    a{
      color: #D6ECF5;
    }
  }
}
 // ************************************* komentari ***************************************************
 .herocomment{

 }
 .fixcomm {
   left:1000px;
  text-align: center;
   width: 350px;
   position: fixed;
   left:-100%;
   bottom:-2%;
   z-index: 100;
   .panel-heading{
     color:white;
   background:linear-gradient(#2a0342,#164587);
 }
  .panel-body{
    background:linear-gradient(#1A0530,#000);
  }
.form-control{
  background-color: #d8ddff;
}
.resizable-textarea .grippie{
  display: none;
}
 }
 .affix{
   left:42%;
   display:block!important;
 }

  .region-sranje{
    margin-top:40px;
    margin-left: 90px;

    .block-views{
      border-right:1px groove #6d67d6;
      @media(max-width: 1000px){
        border-style:none;
        width:150px!important;
        display:inline-block;
        vertical-align: top;
        margin-right:60px;
      }
      &:first-child{
        width: 320px;
        padding-right: 25px;
      }
      &:last-child{
        border:none;
      }
      @media(max-width: 640px){
        &:last-child {
          width:300px;
        }
      }
      width:300px;
      display:inline-block;
      vertical-align: top;
      margin-right:50px;
      .block-title{
        margin: auto;
        text-transform: uppercase;
        color:#D6ECF5;
        font-family:arial,sans-serif;
        text-shadow:0 0 5px rebeccapurple;
        font-weight: 700;

      }
      img{
        margin: auto;
        border-radius: 50%;
        border:5px solid rebeccapurple;
        &:hover{
          border:5px solid #c8b2e8;
        }
      }
      // @media(max-width: 1000px){
      //   display:block;
      // }
      .view-content{
        .views-row{
          width:25%;
          display:inline-block;
        }
        // .field-item{
        //   border:none;
        // }
        margin-top:20px;
      //  text-align:center;
        // h2{
        // .hide
        // }
      }
    }
  }
  .skloni{
    display:none;
    h2{
      margin-left:2px!important;
      display:inline;
      font-size: 24px;
    }
    .field-item{
      width:350px!important;
    }
  }
  .opis{
    margin:20px;
    padding:20px;
    position:absolute;
    z-index: 15;
    background-color: #08020E;
    border:2px solid rebeccapurple;
    color:#D6ECF5;
    display:block;
    h2{
      font-size:24px;
    }

  }
  .lebdi{
    .field:hover + span{
      .opis;
    }
  }
  .region-sranje2{
    margin-top:40px;
    margin-left: 90px;
    .block-views{
      @media(max-width: 1000px){
        margin-right:100px;
      }
        vertical-align: top;
        .views-row{
          .komentari{
            display:none;
          }
        }
        .views-row-last{
          .komentari{
            display: block!important;
          }
        }
      .views-row{
        h2{
          text-align: center;
          width:75%;
          margin-bottom: 30px;
          margin-left: 50px;
          a {    text-transform: uppercase;
              color:#D6ECF5;
              font-family:arial,sans-serif;
              text-shadow:0 0 5px rebeccapurple;
              font-weight: 700;}
        }
        width:530px;
        margin-left: 220px;
        @media(max-width: 1000px){
          margin:auto;
        }
        .field-item{
          display:inline-block;
          width:75px;
        .lebdi   img{
            margin: auto;
            border-radius: 50%;
            border:5px solid rebeccapurple;
            &:hover{
              border:5px solid #c8b2e8;
            }
        }
      }
    }
  }
}
.indented{
  margin-left:40px;
}
.herokomentar{
  margin-bottom:20px;
    border-bottom: 1px solid #423E82;
    padding-bottom: 10px;
    ul{
      .comment-edit{
        display:none;
      }
      .comment-delete{
        display:none;
      }
      .last{
        display: none;
      }
    }
}
.commentarea{
  color:@panel-info-border;
  font-size: 16px;
  width:300px;
  min-height: 100px;
  .field{
    .field-items{
      .field-item{
        margin-top: 20px;
        width: 300px;
        word-break: break-all;
      }
    }
  }
}
.submitted{
  color:red;
  a{
    text-decoration:none;
  }
}
.user-picture{
  margin-bottom: 20px;
  margin-top: 20px;
}
.member{
    margin-top: 20px;
    position: absolute;
    top: -50px;
    right: 280px;
  h2{
    color:rebeccapurple;
  }
}
.new{
  color:red;
}
.comment-wrapper{
  h2{
    color:rebeccapurple;
  }
}
.filter-wrapper{
  display:none;
}
.form-wrapper{
  .btn-success{
    background-color: rebeccapurple;
    border:rebeccapurple;
    .icon{
      display:none;
    }
  }
  .btn-default{
    background-color: #423E82;
    border:#423E82;
    color:white;
  }
}
.comment-form{
  .form-type-item{
display:none;
  }
  .control-label{
    color:rebeccapurple;
  }
}
.text-center{
  margin-top: 200px;
}
.indent-1 {
  margin-left: 25px;
}

.indent-2 {
  margin-left: 50px;
}

.indent-3 {
  margin-left: 75px;
}

.indent-4 {
  margin-left: 100px;
}

.indent-5 {
  margin-left: 100px;
}
//*********************************block******************************
.blokcina{
  background-color: red;
}
.forma{
  position: absolute;
  width: 300px;
  top: 0%;
  left: 98%;
}
.rplycomment{
  position: absolute;
  left: 85%;
  top: -3px;
  background:transparent;
  border-style: none;
  transition-duration: 1s;
  color: white;
  z-index: 150;
&:hover{
// background:transparent;
//   border-radius: 5%;
//   transition-duration: 1s;
//   box-shadow: 0 0 50px #1EC4ED;
color:#1EC4ED;
  }
  &:focus{
        border-style: none;
        outline: none;
  }
}
.view-govno{
  .view-content{
    .views-row{
      position: relative;
    }
  }
}
.slick-track{
  .node-hero{
    position: relative;
  }
}
.hide-important {
  display: none!important;
}
