.glava{
  background-image:url('../images/boba.jpg');
  background-size: cover;
}
.glava{
  .container{

    font-size: 18px;
    .nav-bar
    li+{
       border: 2px solid #337ab7;
      // border-left: 2px solid blue;
      // border-right: 2px solid blue;
      text-transform: uppercase;
    a{
        color:#D6ECF5;
        &:focus{
          text-decoration: none;
          background-color: #0A0010;
        }
    }
      &:hover{
        border-bottom:2px solid #1EC4ED;
      }
    a:hover{
      background:radial-gradient(ellipse at bottom,#2A1A73 40%,transparent 85%);
    }
    }
  }
}
.nav-bar li a{
  padding:10px 50px;
}
.navbar-nav{
  // border: 2px solid #337ab7;
  // li{
  //   border-right:2px solid #337ab7;
  // }
}
.slogo{
  margin:0 auto;
  width:610px;
  overflow:hidden;
}
body{
  background-color:#0A0010;
}
.margin-bottom {
  margin-bottom: 10px;
}
.slick-active
  button{
      background-color: rgba(214, 236, 245,0.7) !important;
      transition-duration: 0.4s;
  }

.slick-dots{
  width:150px;
  margin: auto;
li{
  display:inline;
  button{
    transition-duration: 0.4s;
    margin-left: 2px;
    border-radius: 50%;
    width:15px;
    height:15px;
    font-size: 0px;
    background-color: rgba(198,192,184,0.1);
    border:none;
    outline:none;
    &:hover{
      background-color: #D6ECF5;
    }
  }
}
}
.hero {
  margin-top: 40px;
.view-latest-news{
  margin-bottom:30px;
  }
}
  .logregister{

    // background-color: red;
    // width:300px;
<<<<<<< Updated upstream
    // position: fixed;;
=======
    // position: fixed;;;
    margin-right:  -100px;
>>>>>>> Stashed changes
  }

  .desno{

    text-align: center;
    width: 100px;
    float: right;

      a{
        color:white;
        text-decoration:none;
        text-transform: uppercase;
        font-style:bold;
        &:hover{
          color: greenyellow;
        }
      }
  }
  // *************************************************za news article*************************************************************************
  .titl h2{
    color:#D6ECF5;
  }
  .vestdefault{
    color:#337ab7;
    img{
      .pull-left;
      padding-top: 10px;
      margin: 0px 5px 0px 0px;
    }
  }
  .vest{
    color:#D6ECF5;
    a{
      &:hover{
      text-decoration: none;
      }
    }
  }
//*******************************************************free hero rotation****************************************************

  .block-title{
    text-align: center;
    color: #D6ECF5;
    text-transform: uppercase;
  }
.view-free-rotation{
    border: 2px solid #3C75B9;
    transition-duration: 0.7s;
    color:white;
    &:hover{
        border: 2px solid #e60073;
        transition-property: all;
        transition-duration: 0.7s;
    }
  }
  .rotation{
    .slick-next {
         i{
        color:rgba(217,217,217,0.5);
      &:hover{
      color:#b9b9b9;
    }
       @media (max-width: 1024px){
         display:none;
        }
      }
      top:52%;
      z-index: 10;
      left:100%;
      font-size: 800%;
      cursor: pointer;
      position: absolute;
      transform: translateY(-50%);
      }
    .slick-prev {
        i{
          color:rgba(217,217,217,0.5);
          &:hover{
      color:#b9b9b9;
      }
      @media (max-width: 1024px){
      display:none;
      }
    }
        top:52%;
        right: 100%;
        z-index: 10;
        font-size: 800%;
        cursor: pointer;
        position: absolute;
        transform: translateY(-50%);
      }
    .slick-track{
      h2{
        position: absolute;
        margin-top: 70px;
        margin-left: 25px;
        text-transform: uppercase;
        font-family:arial,sans-serif;
        font-weight: 700;
        a{
            color:#D6ECF5;
          text-decoration: none;
          &:hover{
            color: #98d0e6;
            text-shadow:0 0 5px rebeccapurple;
          }
        }
      }
    }
  }
.rottext{
  position:absolute;
  width:200px;
  top:16%;
  left:3%;
  font-size: 16px;
}
<<<<<<< Updated upstream
#first-time {
  p{
    display:none;
  }
  ul{
    display: none;
  }
=======
// Ovo je futer
.footer {
  width:100%;
  height:220px;
  color:white;
  background-color: greenyellow;
    h2{
      display:none;

      }
      p{
        margin-top: 100px;
        font-weight: bolder;
        text-align: center;
      }
 border-top: 2px solid #337AB7;
 background: linear-gradient(#0A0010,#2a0342);
>>>>>>> Stashed changes
}
